{
  "extends":"stylelint-config-standard",
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "selector-type-no-unknown": [true, {ignore: ["custom-elements"]}],
    "no-empty-source": null,
    "order/properties-alphabetical-order": true
  }
}
