// Style variables

$primaryColor: #004494;
$primaryLightColor: #4d6ec5;
$primaryLighterColor: #3F89C4;
$primaryDarkColor: #003764;
$secondaryColor: #ffcf00;
$secondaryLightColor: #ffe570;

$primaryColorWithTransparency: rgba(0, 68, 148, 0.5);

$textColor: #ffffff;
$backgroundLightColor: #f0f4f5;

$infoColor: darkgreen;
$warningColor: goldenrod;
$wrongColor: #a80000;

$buttonTextColor: #1e3a63;

$boxShadowColor: transparent;