// Style variables

$primaryColor: #004494;
$primaryLightColor: #4d6ec5;
$primaryLighterColor: #3F89C4;
$primaryDarkColor: #003764;
$primaryColorWithTransparency: rgba(0, 68, 148, 0.5);

$secondaryColor: #ffcf00;
$secondaryLightColor: #ffe570;

$backgroundLightColor: #f0f4f5;

$boxShadowColor: transparent;

$textColor: #ffffff;
$buttonTextColor: #1e3a63;

$successColor: darkgreen;
$warningColor: goldenrod;
$wrongColor: #a80000;
