@import './variables';

/*****************************************************************************
 MarkerCluster
*****************************************************************************/

.marker-cluster-large,
.marker-cluster-large div {
  background-color: $primaryDarkColor;
}

.marker-cluster-medium,
.marker-cluster-medium div {
  background-color: $primaryColor;
}

.marker-cluster-small,
.marker-cluster-small div {
  background-color: $primaryLightColor;
}

.marker-cluster span {
  color: white;
}
