// General styles, there should be only custom classes.

@import './variables';

i.help-icon {
  color: $primaryDarkColor;
}

input.largeInput {
  width: 280px;
}

button.secondary-button {
  background-color: white !important;
}

i.accordion-chevron-icon {
  color: white;
  display:inline-block;
  vertical-align: middle;
}

p.advertisement {
  color: $primaryColor;
}

p.advertisement.wrong {
  color: $wrongColor;
}

.w-800 {
    width: 800px;
}

p.input-info {
    color: $infoColor;
}

p.input-warning {
    color: $warningColor;
}

p.input-error {
    color: $wrongColor;
}

.info-message {
    color: $primaryColor;
}

button.popupButton {
    width: 30px !important;
    height: 30px;
}

button.popupButton.code .ui-button-icon-left {
    left: 46% !important;
}

button.popupButton .ui-button-text {
    display: hidden;
}

// App GraphicCard

app-graphic-card .graphicDiv,
.graphicDivdiv.row {
  height: 500px;
  width: 1100px;
}

app-graphic-card .graphicDiv div.col-auto > div {
  width: 1000px;
}

.ui-button.input-height {
    height: 33px;
}

.ui-button.input-height .ui-button-text {
    padding: .25em 1em .25em 2.1em !important;
}

// TABLE

$width-for-scroll: 1000px;

.ui-table-historical-data .ui-table-wrapper {
    overflow-x: auto !important;
}

.disable-td {
    pointer-events: none;
}
@media only screen and (max-width: $width-for-scroll) {
    .ui-table-historical-data  table {
        width: $width-for-scroll !important;
    }
}

// PAGINATOR

.ui-paginator-page {
    width: 40px !important;
}
@media only screen and (max-width: 400px) {
    .ui-paginator-page {
        display: none !important;
    }
}

body .ui-tree.attrsTree {
    width: 100%;
}

body .ui-tree.attrsTree .ui-treenode-label.ui-state-highlight {
    background-color: transparent !important;
    // color: #ffffff;
}

body .ui-tree.attrsTree .ui-treenode-label.ui-state-highlight p {
    padding: 3px;
    border: solid;
    border-color: transparent;
    border-radius: 3px;
    background-color: $primaryColor;
    color: $textColor;
}

body .ui-tree.attrsTree p {
    padding: 3px;
}

.favButton .ui-button,
.favButton .ui-button:active,
.favButton .ui-button:hover,
.favButton .ui-button:focus,
.favButton .ui-button:enabled:hover,
.favButton .ui-button:enabled:focus {
    width: 29px !important;
    height: 29px !important;
    background-color: transparent;
    border: none;
    box-shadow: none !important;
    color: $primaryColor;
    font-size: 14px !important;
}

.favCheckDiv {
    height: 39.72px;
    color: $buttonTextColor;
    background-color: $secondaryColor;
    border-radius: 8px !important;
    font-size: 16px !important;
    box-shadow: 0 3px 7px rgba(50,50,93,.1), 0 1px 3px rgba(0,0,0,.08) !important;
    pointer-events: auto !important;
    cursor: default !important;
}

.favCheckDiv .ui-inputswitch {
    display: block;
}

.favAttrsContainer {
    background-color: $primaryLightColor;
    color: $textColor;
    border-radius: 8px;
    opacity: 0.9;
}

.favAttrsContainer hr {
    background-color: $textColor;
}
