// Leaflet styles.

@import './variables';

/*****************************************************************************
 MarkerCluster
*****************************************************************************/

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: $primaryColorWithTransparency;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: white;
}

.marker-cluster span {
  color: $primaryColor;
}

/*****************************************************************************
 GeoSearch
*****************************************************************************/

div.geosearch a.reset {
  display: none;
}
