// PrimeNG styles, there should be only already defined PrimeNG classes.

@import './variables';

/*****************************************************************************
 Tree
*****************************************************************************/

.ui-tree {
    border: none !important;
    padding: 0 !important;
}

.ui-treenode-icon {
    padding-right: 5px;
}

/*****************************************************************************
 Button
*****************************************************************************/

.ui-button {
    pointer-events: auto;
    font-size: 16px !important;
    border-width: 2px !important;
    border-radius: 8px !important;
    box-shadow: 0 3px 7px rgba(50,50,93,.1), 0 1px 3px rgba(0,0,0,.08) !important;
}

.ui-button:enabled:hover,
.ui-button:enabled:active {
    border-width: 2px !important;
}

/*****************************************************************************
 Accordion
*****************************************************************************/

.ui-accordion .ui-accordion-toggle-icon {
    display: none;
}

.accordion-tab-remove-button .ui-button,
.accordion-tab-remove-button .ui-button:active,
.accordion-tab-remove-button .ui-button:hover,
.accordion-tab-remove-button .ui-button:focus,
.accordion-tab-remove-button .ui-button:enabled:hover,
.accordion-tab-remove-button .ui-button:enabled:focus {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
}

.accordion-tab-remove-button .ui-button-icon-left,
.accordion-tab-remove-button-selected .ui-button-icon-left {
    color: $textColor;
}

/*****************************************************************************
 ConfirmDialog
*****************************************************************************/

.ui-dialog {
    width: 600px;
}

/*****************************************************************************
 ConfirmDialog
*****************************************************************************/

.ui-message-icon {
    padding-right: 10px;
}
