<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-10">
            <p-accordion>
                <ng-template ngFor let-cb let-i="index" [ngForOf]="contextBrokers">
                    <p-accordionTab header="{{cb.header}}">
                        <form [formGroup]="cb.form">
                            <div class="mt-3">
                                <p-card header="General Configuration">
                                    <div class="container-fluid mt-4">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="first">Name</h6>
                                                <input type="text" pInputText formControlName="name"
                                                    (ngModelChange)="onGeneralConfigChange(i)" />
                                            </div>
                                            <div class="col">
                                                <h6 class="first">URL</h6>
                                                <input type="text" pInputText formControlName="url"
                                                    (ngModelChange)="onGeneralConfigChange(i)" />
                                            </div>
                                            <div class="col">
                                                <h6 class="first">Port</h6>
                                                <input type="text" pInputText formControlName="port"
                                                    (ngModelChange)="onGeneralConfigChange(i)" />
                                            </div>
                                        </div>
                                    </div>
                                </p-card>
                            </div>

                            <div class="mt-3">
                                <p-card header="Services">
                                </p-card>
                            </div>

                            <div class="my-3">
                                <p-card header="Historical Configuration">
                                </p-card>
                            </div>
                        </form>
                    </p-accordionTab>
                </ng-template>
            </p-accordion>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-auto">
            <p-button icon="pi pi-plus" label="Add Context Broker" (onClick)="onAddContextBroker()"></p-button>
        </div>
    </div>
</div>