/* You can add global styles to this file, and also import other style files */

// Input

input {
  width: 300px;
}

// PrimeNG MenuBar

.ui-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.1em darkgrey !important;
}

// PrimeNG Tree

.ui-tree {
  border: none !important;
  padding: 0 !important;
}

.ui-treenode-content:focus {
  box-shadow: 0 0 0 0.1em darkgrey !important;
}

// PrimeNG Button

.ui-button {
  pointer-events: auto;
}

// PrimeNG Sidebar

.ui-sidebar-right {
  bottom: 40px;
}

// Leaflet Marker Cluster

.marker-cluster-large,
.marker-cluster-large div {
  background-color: steelblue;
}

.marker-cluster-medium,
.marker-cluster-medium div {
  background-color: mediumturquoise;
}

.marker-cluster-small,
.marker-cluster-small div {
  background-color: powderblue;
}

// AccordionTab
.ui-accordion .ui-accordion-toggle-icon {
  display: none;
}

.accordion-tab-remove-button .ui-button,
.accordion-tab-remove-button-selected .ui-button,
.accordion-tab-remove-button .ui-button:active,
.accordion-tab-remove-button-selected .ui-button:active,
.accordion-tab-remove-button .ui-button:hover,
.accordion-tab-remove-button-selected .ui-button:hover,
.accordion-tab-remove-button .ui-button:focus,
.accordion-tab-remove-button-selected .ui-button:focus,
.accordion-tab-remove-button .ui-button:enabled:hover,
.accordion-tab-remove-button-selected .ui-button:enabled:hover,
.accordion-tab-remove-button .ui-button:enabled:focus,
.accordion-tab-remove-button-selected .ui-button:enabled:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.accordion-tab-remove-button .ui-button-icon-left {
  color: darkslategray;
}

.accordion-tab-remove-button-selected .ui-button-icon-left {
  color: white;
}

// body .ui-button:enabled:focus {
//   outline: 0 none;
//   outline-offset: 0px;
//   box-shadow: none;
// }

// App GraphicCard

// app-graphic-card .ui-card,
// .ui-card div.row {
//   height: 400px;
//   width: 600px;
// }

// app-graphic-card .ui-card-body {
//   padding: 0;
// }

// app-graphic-card .ui-card div.col-auto > div {
//   width: 500px;
// }
