/* You can add global styles to this file, and also import other style files */

// PrimeNG

.ui-menuitem-link:focus {
    box-shadow: inset 0 0 0 0.1em darkgrey !important;
}

.ui-tree {
    border: none !important;
    padding: 0 !important;
}

.ui-treenode-content:focus {
    box-shadow: 0 0 0 0.1em darkgrey !important;
}

.ui-button {
    pointer-events: auto;
}

.ui-sidebar-right {
    bottom: 40px;
}

.ui-card, .ui-card div.row {
    width: 600px;
    height: 400px;
}

.ui-card-body {
    padding: 0;
}

.ui-card div.col-auto > div {
    width: 500px;
}
