<p-card header="General Configuration">
    <form [formGroup]="cb.form">
        <div class="container-fluid mt-4">
            <div class="row align-items-end">
                <div class="col">
                    <h6 class="first">Name</h6>
                    <input type="text" pInputText formControlName="name" (ngModelChange)="onGeneralConfigChange()" />
                </div>
                <div class="col">
                    <h6 class="first">URL</h6>
                    <input type="text" pInputText formControlName="url" (ngModelChange)="onGeneralConfigChange()" />
                </div>
                <div class="col">
                    <h6 class="first">Port</h6>
                    <input type="text" pInputText formControlName="port" (ngModelChange)="onGeneralConfigChange()" />
                </div>
                <div class="col">
                    <p-button label="Check Context Broker" (onClick)="onCheckContextBroker()"></p-button>
                </div>
            </div>
        </div>
    </form>
</p-card>