<p-card header="Historical Configuration">
    <form [formGroup]="cb.historicalForm">
        <div class="container-fluid mt-3">

            <!-- Description -->
            <i class="pi pi-info info-message"></i>
            <p class="d-inline info-message">
                {{'Historical data is not provided from the Context Broker, but it is provided by a group of tools in charge of manage it,
                which are integrated with the Context Broker. Because of that, the configuration of Cygnus and STH-Comet is needed into
                the enabler to visualize historical data.'}}
            </p>

            <div class="row justify-content-center mt-5">
                <div class="col-11">

                    <!-- Cygnus URL -->
                    <div>
                        <app-input-with-validation #cygnusInput [label]="'Cygnus URL'" [controlName]="'cygnus'"
                            [group]="cb.historicalForm" [required]="false" [hasButton]="true"
                            [buttonIcon]="'pi pi-check'" (buttonClick)="onCheckCygnus()">
                        </app-input-with-validation>
                    </div>

                    <!-- STH-Comet URL -->
                    <div class="mt-4">
                        <app-input-with-validation #cometInput [label]="'STH-Comet URL'" [controlName]="'comet'"
                            [group]="cb.historicalForm" [required]="true" [hasButton]="true"
                            [buttonIcon]="'pi pi-check'" (buttonClick)="onCheckComet()">
                        </app-input-with-validation>
                    </div>

                </div>
            </div>
        </div>
    </form>
</p-card>
