<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-11 my-5">
            <div>
                <p-accordion>
                    <p-accordionTab #rawTab [selected]="true">
                        <!-- AccordionTab header -->
                        <p-header>
                            <app-accordion-tab-header [header]="'Raw Data'" [selected]="rawTab.selected">
                            </app-accordion-tab-header>
                        </p-header>
                        <div class="mx-4 my-4">
                            <app-historical-data-table [entityMetadata]=" entityMetadata">
                            </app-historical-data-table>
                        </div>
                    </p-accordionTab>
                    <p-accordionTab #aggrTab [selected]="true">
                        <!-- AccordionTab header -->
                        <p-header>
                            <app-accordion-tab-header [header]="'Aggregated Data'" [selected]="aggrTab.selected">
                            </app-accordion-tab-header>
                        </p-header>
                        <div class="mx-4 my-4">
                            <app-historical-data-graph [entityMetadata]="entityMetadata"></app-historical-data-graph>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
</div>