<div>
    <!-- Attributes template -->
    <ng-template #content>
        <div *ngFor="let a of attrs">
            <b>{{a[0]}}</b>: {{a[1]}}
        </div>
    </ng-template>

    <!-- Few attributes -->
    <div *ngIf="attrs.length <= maxNumberAttrsUntilScroll else showScroll">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>

    <!-- Lots of attributes -->
    <ng-template #showScroll>
        <p-scrollPanel #scrollPanel [style]="{width: '95%', height: '163px'}" styleClass="popupScrollBar">
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </p-scrollPanel>
    </ng-template>

    <!-- Buttons -->
    <div class="fluid-container mt-3">
        <div class="row justify-content-around">

            <!-- Stats button -->
            <div *ngIf="modelDto && modelDto.cometUrl" class="col-auto p-0">
                <p-button title="Historical Data Overview" styleClass="popupButton chart" icon="fas fa-chart-area"
                    (onClick)="onClickStats()">
                </p-button>
            </div>

            <!-- Debug button -->
            <div class="col-auto p-0">
                <p-button title="Raw Data Overview" styleClass="popupButton code" icon="fas fa-code"
                    (onClick)="onClickDebug()">
                </p-button>
            </div>

        </div>
    </div>
</div>