<!-- Http loader for the entire application -->
<ng-http-loader [filteredHeaders]="['Avoid-Http-Interceptor']"></ng-http-loader>

<!-- Toast for the entire application -->
<p-toast></p-toast>

<!-- Confirm dialog for the entire application -->
<p-confirmDialog rejectButtonStyleClass="secondary-button"></p-confirmDialog>

<div class="d-flex flex-column vh-100">

    <!-- Header -->
    <div class="w-100">
        <p-menubar [model]="menuItems">
        </p-menubar>
    </div>

    <!-- Content -->
    <div class="flex-grow-1">
        <router-outlet></router-outlet>
    </div>

</div>