<!-- Layer panel -->
<p-overlayPanel #layerConditionsPanel styleClass="w-800">
    <app-layer-conditions [categories]="categories" [entities]="entities" (eventFilters)="setFilters($event)">
    </app-layer-conditions>
</p-overlayPanel>
<p-overlayPanel #layerPanel>
    <p-tree [value]="layers" selectionMode="checkbox" [(selection)]="selectedLayers"
        (onNodeSelect)="onNodeSelect($event)" (onNodeUnselect)="onNodeUnselect($event)"></p-tree>
</p-overlayPanel>

<!-- Map -->
<div id="map" class="w-100 h-100">
    <div class="leaflet-top leaflet-right">
        <p-button class="mt-3 mr-3" label="Conditions" icon="pi pi-list" iconPos="left"
            (onClick)="layerConditionsPanel.toggle($event)"></p-button>
        <p-button class="mt-3 mr-3" label="Layers" icon="pi pi-list" iconPos="left"
            (onClick)="layerPanel.toggle($event)"></p-button>
    </div>
</div>
