<div *ngIf="entities.length > 0">

    <!-- Label -->
    <h6 class="d-inline">Entities and attributes to choose</h6>

    <!-- Tooltip -->
    <i class="ml-2 pi pi-question-circle help-icon"
        pTooltip="The map will only display the entities and the attributes marked here. The attribute chosen by the star will be shown above the entity marker."></i>

    <!-- Tree -->
    <p-scrollPanel #entitiesScroll [style]="{width: '100%', height: '300px'}">
        <p-tree [value]="entities" selectionMode="checkbox" [(selection)]="selectedEntities" emptyMessage=""
            (onNodeExpand)="refreshScroll()" (onNodeCollapse)="refreshScroll()" (onNodeSelect)="onNodeSelect($event)"
            (onNodeUnselect)="onNodeUnselect($event)" styleClass="attrsTree">

            <!-- Tree node -->
            <ng-template let-node pTemplate="default">
                <div class="container-fluid" style="height: 29px;">
                    <div class="row align-items-center" style="height: 29px;">

                        <!-- Node label -->
                        <div class="col-auto p-0">
                            <p pTooltip="This data model cannot be selected because either it doesn't have the attribute location or the attribute location is not a point."
                                class="d-inline">{{node.label}}</p>
                        </div>

                        <!-- Node favourite selector -->
                        <div class="col-auto p-0">
                            <ng-container *ngIf="shouldButtonFavBeDisplayed(node, selectedEntities)">

                                <!-- Favourite selector when unchecked -->
                                <p-button *ngIf="node.data.fav === false" class="favButton" icon="far fa-star"
                                    (onClick)="onClickFav($event, node)">
                                </p-button>

                                <!-- Favourite selector when checked -->
                                <p-button *ngIf="node.data.fav === true" class="favButton" icon="fas fa-star"
                                    (onClick)="onClickUnfav($event, node)">
                                </p-button>

                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-template>

        </p-tree>
    </p-scrollPanel>
</div>