/* Add your customizations of theme here */

body {

    .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a,
    .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
        background-color: $primaryColor;
        border: none;
    }

    .ui-accordion .ui-accordion-header a:focus {
        box-shadow: none;
    }

    .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
        background-color: $primaryColor;
    }

}
