$boxShadowColor: transparent;

$primaryColor: #004494;
$primaryLightColor: #4d6ec5;
$primaryDarkColor: #003764;
$secondaryColor: #ffcf00;
$secondaryLightColor: #ffe570;

$textColor: #ffffff;
$backgroundLightColor: #f0f4f5;

$buttonTextColor: #1e3a63;